<footer class="footer">

    <div class="container">
        <p class="text-muted">Website developed by <a href="http://www.fourthwall.co.nz">Fourth Wall</a></p>
    </div>

    <div class="btn-group page-button" ng-show="user != undefined" ng-controller="ContentController as content">
        <button class="btn btn-default width-third" ng-click="content.create()"> Create </button>
        <button class="btn btn-default width-third" ng-click="content.edit()"> Edit </button>
        <button class="btn btn-default width-third" ng-click="content.delete()"> Delete </button>
    </div>

</footer>