<div>
<div class="col-md-6">

    <form class="form-horizontal col-md-offset-5" novalidate>
        <div class="form-group">
            <label class="control-label col-md-3">Name</label>
            <div class="col-md-9">
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Email Address</label>
            <div class="col-md-9">
                <input type="email" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Subject</label>
            <div class="col-md-9">
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Message</label>
            <div class="col-md-9">
                <textarea rows="6" class="form-control"></textarea>
            </div>
        </div>
        <button class="btn btn-success pull-right width-quarter">Send</button>

    </form>
</div>
<div class="col-md-6">

    <div class="col-md-6">
        <ul class="well">
            <li ng-repeat="item in contact.data.content">
                <i class="fa fa-2x contact-icon-margin" ng-class="contact.contactTypes[item.id]"> </i>
                <a href="{{item.body}}" ng-click="prevent()"> {{item.heading}}</a>
            </li>
        </ul>

        <canvas class="width-full map-holder"></canvas>

    </div>

</div>
</div>