body {
    background-color: #E0E0E0;
}

html {
    background: url(./../res/5wcbm7jz.bmp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    /* for IE apply to a div */
.full-screen-image {
    position: fixed;
    height: 100%;
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./../res/5wcbm7jz.bmp', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./../res/5wcbm7jz.bmp', sizingMethod='scale')";
}

/* -----------------------------------*/
/* --------->>> Nav-Bar <<<-----------*/
/* -----------------------------------*/

.navbar-default {
    border: none;
    background: rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff'); /* For IE8 and below */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* title 'brand' */
.navbar-default .navbar-brand {
    color: #00A6CA;
    font-size: 22px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #00A6CA;
}

/* links */
.navbar-default .navbar-nav > li > a {
    /*color: #f8fdff;*/
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {

}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    box-shadow: 0 -2px 0 #00A6CA inset;
}

/* dropdowns */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #00A6CA;
    border-bottom-color: #00A6CA;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* mobile version */
/*.navbar-default .navbar-toggle {*/
    /*border-color: #f8fdff;*/
/*}*/

/*.navbar-default .navbar-toggle:hover,*/
/*.navbar-default .navbar-toggle:focus {*/
    /*background-color: #006083;*/
/*}*/

/*.navbar-default .navbar-toggle .icon-bar {*/
    /*background-color: #f8fdff;*/
/*}*/



/* -----------------------------------*/
/* ---------->>> Forms <<<------------*/
/* -----------------------------------*/

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-control:focus {
    border-color: #00A6CA;
}

/* -----------------------------------*/
/* --------->>> Buttons <<<-----------*/
/* -----------------------------------*/

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    /*padding: 4px 12px;*/
}

.navbar-btn li button.btn {
    padding: 5px 0;
}

.btn-group.open .dropdown-toggle, .btn-group:focus, .btn:active, .btn-active {
    box-shadow: none;
}

.btn-default {
    background: none;
    border: 1px solid #414b4b;
    color: #414b4b;
}

.btn-default-background {
    background: #FFFFFF;
    border: 1px solid #121F1F;
    color: #121F1F;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    /*color: #FFFFFF;*/
    background: none;
    border: 1px solid #414b4b;
}

.btn-primary {
    background: none;
    border: 2px solid #00A6CA;
    color: #00A6CA;
    transition: 1s;
}

.btn-primary-background {
    background: #FFFFFF;
    border: 2px solid #00A6CA;
    color: #00A6CA;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #00A6CA;
    border: 2px solid #00A6CA;
}

.btn-success {
    background: #00b57c;
    border: 2px solid #00b57c;
    color: #FFFFFF;
}

.btn-success-background {
    background: #FFFFFF;
    border: 2px solid #00b57c;
    color: #00b57c;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background: #00b57c;
    border: 2px solid #00b57c;
}

/* -----------------------------------*/
/* --------->>> General <<<-----------*/
/* -----------------------------------*/

a:focus{
    outline: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px; /* Fixed height of the footer here */
    background: rgba(255, 255, 255, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4cffffff', endColorstr='#4cffffff'); /* For IE8 and below */
    border-top: 1px solid #00A6CA;
}