<div>

    <div class="modal-header">
        <h3 class="modal-title">{{createState}}</h3>
    </div>

    <div class="modal-body page-modal-top">
        <form ng-hide="create.form.type=='home' || create.form.type=='contact'" novalidate class="form-horizontal">

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-2">Title</label>
                    <div class="col-md-10">
                        <input ng-model="create.form.title" type="text" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="url" class="control-label col-md-2">URL</label>
                    <div class="col-md-10">
                        <input ng-model="create.form.url" type="text" class="form-control" id="url" required>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">Page Type</label>
                    <div class="col-md-8">
                        <select ng-model="create.form.type" class="form-control" required>
                            <option value="text">Text</option>
                            <option value="form">Form</option>
                            <option value="image">Image</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Link to Nav?</label>
                    <div class="col-md-8">
                        <select ng-model="create.form.nav" class="form-control" required>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
            </div>
            <p>{{create.form}}</p>
        </form>



        <div ng-if="create.form.type=='text' || create.form.type=='home'">
            <h3 class="modal-title text-capitalize">{{create.form.type}}</h3>
            <div ng-repeat="item in create.form.content" class="form-horizontal clearfix well">
                <div class="form-group">
                    <label class="control-label col-md-2"> Heading </label>
                    <div class="col-md-10">
                        <input ng-model="item.heading" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Body</label>
                    <div class="col-md-10">
                        <textarea rows="6" ng-model="item.body" class="form-control modal-textarea"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Class</label>
                    <div class="col-md-10">
                        <input ng-model="item.class" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Author</label>
                    <div class="col-md-10">
                        <input ng-model="item.author" type="text" class="form-control">
                    </div>
                </div>
                <div class="btn-group modal-add-remove">
                    <a class="btn btn-default" ng-click="create.addContent(item)"><i class="fa fa-plus"></i></a>
                    <a class="btn btn-default" ng-click="create.removeContent(item)"><i class="fa fa-minus"></i></a>
                </div>
            </div>
        </div>

        <div ng-if="create.form.type=='contact'">
            <h3 class="modal-title text-capitalize">{{create.form.type}}</h3>
            <div ng-repeat="item in create.form.content" class="form-horizontal well">
                <div class="form-group">
                    <label class="control-label col-md-2"> Type </label>
                    <div class="col-md-10">
                        <input ng-model="item.id" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Display</label>
                    <div class="col-md-10">
                        <input ng-model="item.heading" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Link</label>
                    <div class="col-md-10">
                        <input ng-model="item.body" type="text" class="form-control">
                    </div>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default"><i class="fa fa-plus-circle fa-2x btn" ng-click="create.addContent(item)"></i></a>
                    <a class="btn btn-default"><i class="fa fa-minus-circle fa-2x btn" ng-click="create.removeContent(item)"></i></a>
                </div>
            </div>
        </div>


        <div ng-if="create.form.type=='form'">
            <h3 class="modal-title text-center">Coming Soon</h3>
        </div>

        <div ng-if="create.form.type=='image'">
            <h3 class="modal-title text-center">Coming Soon</h3>
        </div>

    </div>

    <div class="modal-footer">
        <button ng-if="createState=='Create'" class="btn btn-success" ng-click="create.createPage(); ok();">Create</button>
        <button ng-if="createState=='Edit'" class="btn btn-success" ng-click="create.editPage(); ok();">Edit</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>