<div>

    <div class="modal-header">
        <h3 class="modal-title">{{createState}}</h3>
    </div>

    <div class="modal-body page-modal-top">
        <form novalidate class="form-horizontal">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="title" class="control-label col-md-2">Title</label>
                    <div class="col-md-10">
                        <input ng-model="create.form.title" type="text" class="form-control" id="title">
                    </div>
                </div>

                <div class="form-group">
                    <label for="url" class="control-label col-md-2">URL</label>
                    <div class="col-md-10">
                        <input ng-model="create.form.url" type="text" class="form-control" id="url">
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="page-type" class="control-label col-md-4">Page Type</label>
                    <div class="col-md-8">
                        <select ng-model="create.form.pageType" class="form-control" id="page-type">
                            <option value="text">Text</option>
                            <option value="form">Form</option>
                            <option value="image">Image</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nav-link" class="control-label col-md-4">Link to Nav?</label>
                    <div class="col-md-8">
                        <select ng-model="create.form.nav" class="form-control" id="nav-link">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
            </div>
            <p>{{create.form}}</p>
        </form>



        <div ng-if="create.form.pageType=='text'">
            <h3 class="modal-title">Text</h3>
            <div ng-repeat="item in create.form.content" class="form-horizontal well">
                <div class="form-group">
                    <label for="text-heading" class="control-label col-md-2"> Heading </label>
                    <div class="col-md-10">
                        <input ng-model="item.heading" type="text" class="form-control" id="text-heading">
                    </div>
                </div>

                <div class="form-group">
                    <label for="text-body" class="control-label col-md-2">Body</label>
                    <div class="col-md-10">
                        <input ng-model="item.body" type="text" class="form-control" id="text-body">
                    </div>
                </div>

                <div class="form-group">
                    <label for="text-class" class="control-label col-md-2">Class</label>
                    <div class="col-md-10">
                        <input ng-model="item.class" type="text" class="form-control" id="text-class">
                    </div>
                </div>

                <div class="form-group">
                    <label for="text-author" class="control-label col-md-2">Author</label>
                    <div class="col-md-10">
                        <input ng-model="item.author" type="text" class="form-control" id="text-author">
                    </div>
                </div>
                <button ng-click="create.addContent(item)"> + </button>
                <button ng-click="create.removeContent(item)"> - </button>
            </div>
        </div>

        <div ng-if="create.form.pageType=='form'">
            <h3 class="modal-title text-center">Coming Soon</h3>
        </div>

        <div ng-if="create.form.pageType=='image'">
            <h3 class="modal-title text-center">Coming Soon</h3>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>