<div>

<div class="modal-header">
    <h3 class="modal-title">{{modalState}}</h3>
</div>

<div class="modal-body">
    <form class="form-horizontal">
        <div class="col-md-6">

            <div class="form-group">
                <label for="title" class="control-label col-md-2">Title</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="title">
                </div>
            </div>

            <div class="form-group">
                <label for="url" class="control-label col-md-2">URL</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="url">
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="page-type" class="control-label col-md-4">Page Type</label>
                <div class="col-md-8">
                    <select ng-model="pageDropDown" class="form-control" id="page-type">
                        <option value="0">Plain Text</option>
                        <option value="1">Form</option>
                        <option value="2">Jumbotron</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="nav-link" class="control-label col-md-4">Link to Nav?</label>
                <div class="col-md-8">
                    <select ng-model="navLink" class="form-control" id="nav-link">
                        <option value="0" selected="selected">Yes</option>
                        <option value="1">No</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
    </form>
</div>

<div class="modal-body">
    <div ng-if="pageDropDown =='0'">
        <div class="form-horizontal">
        <h3 class="modal-title">Plain Text</h3>
            <div class="form-group">
                <label for="plain-text-body" class="control-label col-md-2">Body</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="plain-text-body">
                </div>
            </div>
        </div>
    </div>

    <div ng-if="pageDropDown =='1'">
        <h3 class="modal-title">Form</h3>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="form" class="control-label col-md-2">Body</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="form">
                </div>
            </div>
        </div>
    </div>

    <div ng-if="pageDropDown =='2'">
        <h3 class="modal-title">Jumbotron</h3>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="jumbo" class="control-label col-md-2">Body</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="jumbo">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</div>