<div class="login-panel">

    <form name="userForm" ng-submit="login.submit()">
        <div class="form-group">
            <input type="email" class="form-control" name="email" ng-model="login.user.email" placeholder="Email Address">
            <p ng-show="userForm.email.$invalid && userForm.email.$dirty"  ng-hide="userForm.email.$pristine" class="help-block">Email address is invalid</p>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="login.user.name" placeholder="Name" ng-hide="loginState=='Login'">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" ng-enter="login.signIn()" ng-model="login.user.password" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" ng-model="login.user.passConfirm" placeholder="Confirm Password" ng-hide="loginState=='Login'">
        </div>

        <div class="login-btn-block" ng-click="prevent($event)" ng-hide="loginState=='Register'">
            <input class="btn btn-success width-full" type="submit" id="login" value="Login" />
            <button class="btn btn-default login-form-btn" ng-click="loginState = 'Register'"> Don't have an account?</button>
            <button class="btn btn-default login-form-btn" ng-click="loginState = 'Reset'"> Forgotten password?</button>
        </div>
        <div class="btn-group width-full" ng-click="prevent($event)" ng-hide="loginState=='Login'">
            <input class="btn signup-btn btn-success" type="submit" id="signUp" value="Sign Up" />
            <i class="btn signup-back-btn btn-default fa fa-chevron-left" ng-click="loginState = 'Login'"></i>
        </div>

    </form>

</div>